@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Patua%20One&display=swap'); 

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* Atoms */

#container-title-standart{
    font-family: Patua One;
    font-size: 45pt;
    color: #f62210;
    margin-top: 20px;
}

#btn-standart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f62210;
    color: #fff;
    font-family: nunito;
    text-decoration: none;
    font-size: 19pt;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 10px;
    width: 260px;
    height: 45px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#btn-standart:hover{
    box-shadow: 0px 15px 20px #f6231075;
    transform: translateY(-7px);
}

#btn-offFocus{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f62210;
    background: #fff;
    font-family: nunito;
    text-decoration: none;
    font-size: 17pt;
    margin-top: 24px;
    width: 260px;
    height: 45px;
    border: 2px solid #f62210;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#btn-offFocus:hover{
    box-shadow: 0px 15px 20px #f6231036;
    transform: translateY(-7px);
}

#txt-standart{
    font-family: nunito;
    font-size: 16pt;
    color: #202020;
}

/* Atoms END */


/* ------------------------------------------------------------------------------------------------------------------------ */


/* Molecules */



/* Molecules END */

/* ------------------------------------------------------------------------------------------------------------------------ */


/* Organims */

#main-header{
    width: 100%;
    height: 60px;
    padding: 30px;
    background: #f62210;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-family: Patua One;
    font-weight: bold;
}

#container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 5%;
}

#adaptation{ /* Dependente do container */
    display: flex;
}

/* Organims END */



#sign-main{
    display: flex;
    flex-flow: column-reverse;
    width: 320px;
    height: 650px;
    margin: 1.5%;
    margin-top: 0;
    margin-right: 0;
    border: 7px solid transparent;
    border-radius: 35px;
    background: 
        linear-gradient(to right, white, white), 
        linear-gradient(15deg, rgb(90, 90, 90) , rgb(117, 117, 117)); 
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}


#sign-main nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 0 0 25px 25px;
    background: #2e2e2e;
}

#menu-btn{
    width: 50px;
    height: 50px;
    background: #292929;
    border-radius: 50%;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

#tela{
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 10px solid #2e2e2e;
    border-radius: 24px 24px 0 0;
    padding: 15px;
    padding-top: 30px;
}


#login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f62210;
    background: #fff;
    font-family: nunito;
    text-decoration: none;
    font-size: 17pt;
    margin-top: 24px;
    width: 260px;
    height: 45px;
    border: 2px solid #f62210;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#login-btn:hover{
    box-shadow: 0px 15px 20px #f6231036;
    transform: translateY(-7px);
}

@media only screen and (max-width: 700px) {
    #adaptation{
        flex-flow: column;
        align-items: center;
    }
    #sign-main{
        margin-top: 15px;
    }
}